
/* Navbar design start */
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 768px;
}
.navbar h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.header-button{
width: 170px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
padding: 12px 14px 12px 14px;
margin-top: 30px;
cursor: pointer;
}
/* Navbar design end */

/* header section design start */
.header-section-main-image{
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 500px;
    top: 131px;
    text-align: center;
}
/* .header-developer-image{
    display: flex;
} */
 .header-main-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 600;
    width: 810px;
    margin-left: 360px;
    margin-top: 10px;
 }
 .header-main-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: -40px;
 }
 .header-main-text button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    width: 170px;
    height: 48px;
    padding: 12px 14px 12px 14px;
    margin-top: 5px;
    cursor: pointer;

 }
/* header section design end */

/* Why web development section design start */
.second-section-main-text h3{
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.second-section-main-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 320px;
    width: 820px;
    text-align: center;
    margin-top: -20px;
}
/* Why web development section design end */

/* Coding challenge start design  */

.main-section-two{
    display: flex;
    justify-content: space-around;
    margin: 10px 230px 20px 230px;
    margin-top: 100px;
}
.main-section-two-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-right: 570px;
}
.main-section-two-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-right: 370px;
}
.main-section-two-text button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 171px;
    height: 47px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
/* Coding challenge end design  */

/* main section three design start */

.main-section-three{
    display: flex;
    justify-content: space-around;
    margin: 100px 210px 20px 210px;
}
.main-section-three-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-left: 370px;
}
.main-section-three-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 370px;
}
.main-section-three-text  button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 171px;
    height: 47px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-left: 370px;
}
/* main section three design end */

/* main-section-four design start */

.main-section-four{
    display: flex;
    justify-content: space-around;
    margin: 10px 230px 20px 230px;
    margin-top: 100px;
}
.main-section-four h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-right: 500px;
}
.main-section-four p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-right: 370px;
}
.main-section-four button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 171px;
    height: 47px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* main-section-four design end */

/* My Inspiration section design start */

.my-video{
margin-left: 220px;
margin-top: 50px;
}
/* My Inspiration section design end */

/* my-current-target-head design start*/

.my-current-target-head{
    display: flex;
    justify-content: space-around;
    margin: 70px 230px 70px 230px;
    gap: 20px;
}
.my-current-target{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 76, 30, 0.05);
}
.two{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(0, 76, 232, 0.05);
}
.three{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 223, 0, 0.05)
}
.my-current-target button{
    border: none;
    background: none;
    text-decoration: underline;
}
/* my-current-target design end*/

/* My next target design start */

.next-target-head{
    display: flex;
    margin: 70px 230px 70px 230px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.my-next-target-image{
    margin-top: 33px;
    margin-right: 20px;
}
.my-next-target-text button{
    border: none;
    background: none;
    text-decoration: underline;
}
/* My next target design end */
